.footer{
	position: fixed;
	width: 100%;
	bottom: 0px;
}

.footer h1{
	text-align: center;	
    padding: 10px;
    color: #C6C7C8;
	position: fixed;
	bottom: 0px;
	width: 100%;
	

}

.footer table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.footer td, th {
  text-align: center;
  padding: 10px;

}

.footer a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.footer a:visited {
  color: #04AFF9;
  background-color: transparent;
  text-decoration: none;
}
.footer a:hover {
  color: #C6C7C8;
  background-color: transparent;
  text-decoration: underline;
}
.footer a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}