
h1{
	text-align: center;	
    padding: 10px;
    color: #C6C7C8;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: center;
  padding: 10px;

}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #04AFF9;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #C6C7C8;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}