body{
    margin: 0;
    padding: 0;
    background: url(../../img/content/usaf_wallpaper.jpg);
    width: 100%;
    height: auto;
    background-position-y: -13ch;
    font-family: sans-serif;
    background-repeat: no-repeat;
}