body{
  background: url(/img/content/usaf_wallpaper.jpg);
}

.cardrow{
  padding: 5px; 
  display: flex; 
  justify-content: space-between;
}
.card{
  width: 33%;
  background-color: white;
}

.data_name{
  text-align: left;
  color: black;
}

.title{
  color: black;
}

span{
  color: black;
}