body {
  background: url(/img/content/usaf_wallpaper.jpg);
}
.card {
  background-color: grey;
  border-radius: 8px;
  
}
.buttons {
  text-align: center;
}

.box{
  display: flex;
  justify-content: center;
  min-height: auto;
  padding: 20px;
}


